@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 15px;
    border: 3px solid black;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #E0A800;
    border-radius: 10px;
  }
.navbar{
    background: #2B2C2C !important;
}
.navbar .navbar-nav .nav-item .nav-link {
    color: white;
    font-family: 'Poppins', sans-serif;
    padding-left: 15px;
    font-weight: 400;
    position: relative;
    transition-delay: 0.8s;
}
.navbar .navbar-nav .nav-item .nav-link:hover{
    color:  #E0A800;
    transition: 1s;
}
.navbar .navbar-nav .nav-item .nav-link:hover::after{
    content: " ";
    width: 34px;
    height: 3px;
    position: absolute;
    background-color: #E0A800;
    top: 79%;
    left: 23%;
    transition: 1s;
    
    
}

.pb-4, .py-4 {
    padding-bottom: 0.5rem!important;
}
.pt-4, .py-4 {
    padding-top: 0.5rem!important;
}
.navbar .navbar-brand{
    color: #E0A800;
    font-size: 45px;
    box-sizing: border-box;
    font-weight: bolder;
}
.wapper{
    background:#2B2C2C;
    width: 100%;
    height: 100%;
}
.wapper-img{
    padding-top: 50px;
}

.wapper-text h1{

    font-family: 'Poppins', sans-serif;
    font-weight:900;
    font-size: 70px;
    color: white;
}
.wapper-text p{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: white;
}
.wapper .btn{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1.6px;
    line-height: 60px;
    text-align: center;
    text-transform: capitalize;
    color: white;
    padding: 0 50px;

}
.wapper .btn:hover{
    border: 2px solid #E0A800;
    background: #2B2C2C;
    color: #E0A800;
    font-weight: 700;
}
.about-area{
    width: 100%;
    height: 100%;
    background: #232424;
}
.about-area h1{
    color: rgb(199, 197, 197);
    font-family:'Poppins', sans-serif;
    font-weight: bolder;
    word-spacing: 3px;
    font-size: 56px;
}
.about-area .abouthead::after {
    content: " ";
    width: 138px;
    height: 5px;
    position: absolute;
    background-color: #E0A800;
    top: 57%;
    left: 27%;
}
.about-area .abouthead::before {
    content: " ";
    width: 200px;
    height: 200px;
    position: absolute;
    background-color: #888888;
    top: 30%;
    left: 23%;
    border-radius: 50%;
    opacity: 0.2;
    
}
.about-area p{
    color: rgb(199, 197, 197);
    font-family: 'Poppins', sans-serif;
}
.about-area .btn{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1.6px;
    line-height: 60px;
    text-align: center;
    text-transform: capitalize;
    color: white;
    padding: 0 40px;
    margin-left: 8px;
}
.about-area .btncv{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1.6px;
    line-height: 60px;
    text-align: center;
    text-transform: capitalize;
    color: white;
    padding: 0 35px;
    margin-left: 8px;
    background:#232424;
}
.about-area .btncv:hover{
    background: #E0A800;
    color: white;
}
.services-area{
    width: 100%;
    height: 100%;
    background:#2B2C2C ;
}
.services-area h1{
    color:rgb(199, 197, 197);
    font-size: 56px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    position: relative;

    
}
.progress-bar {
    
    background-color: #E0A800;
}
.services-area h1::after {
    content: " ";
    width: 138px;
    height: 5px;
    position: absolute;
    background-color: #E0A800;
    top: 98%;
    left: 31%;
}

.services-area p{
    color:rgb(199, 197, 197) ;
    font-family: 'Poppins', sans-serif;
} 
.services-area .show_img1{
    background-image:
    linear-gradient(to bottom, rgba(91, 114, 245, 0.52), rgba(209, 87, 178, 0.73)),url('/images/1.jpg');
    width: 90%;
    height: 300px;
    background-size: cover;
    color: white;
    padding:  55px;
    color: white;
    border-radius: 5px;
}
.services-area .show_img1 img {
    vertical-align: middle;
    border-style: none;
    width: 52px;
}
.work-area{
    width: 100%;
    height: 100%;
    background:#232424 ;
}
.work-area h1{
    color:rgb(199, 197, 197) ;
    font-size: 56px;
    font-weight:700;
    font-family: 'Poppins', sans-serif;
    position: relative;
}
.work-area h1::after{
    content: " ";
    width: 138px;
    height: 5px;
    position: absolute;
    background-color: #E0A800;
    top: 69%;
    left: 35%;
}
.workexp{
    width: 100%;
    height: 300px;
    background:#2B2C2C;
    color:rgb(199, 197, 197) ;
    font-family: 'Poppins', sans-serif;
}
.workexp .btn{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1.6px;
    line-height: 60px;
    text-align: center;
    text-transform: capitalize;
    color: white;
    padding: 0 50px;
}
.contact{
    width: 100%;
    height: 100%;
    background:#232424 ;
    color: white;
}
.contact h1{
    font-size: 50px;
    color: rgb(199, 197, 197);
    position: relative;
}
.contact h1::after{
    content: " ";
    width: 138px;
    height: 5px;
    position: absolute;
    background-color: #E0A800;
    top: 88%;
    left: 39%;
}
.contact h5{
    font-size: 25px;
    color: rgb(199, 197, 197);
}
.contact span{
    font-family: 'Poppins', sans-serif;
    font-weight: 100; 
    color: rgb(199, 197, 197);

}
.sociallink i {
    display: inline-block;
    padding:6px;
    font-size: larger;
    color: white;
    
}
.sociallink i:hover{
    color:#E0A800;

}
.contact input{
    background:#363737;
    width: 100%;
    height: 50px;
    border: none;
}
.contact textarea{
    background:#363737;
    width: 100%;
    border: none;
}
.contact label{
    color:#808383 ;
}
.contact .btn{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1.6px;
    line-height: 60px;
    text-align: center;
    text-transform: capitalize;
    color: white;
    padding: 0 50px;
    background:#E0A800;
    border: none !important;
}
footer{
    width: 100%;
    height: 100%;
    background:#434444 ;
}
footer span{
    color:#E0A800;
}
@media (max-width: 991px){
    .wapper-text h1 {
        font-family: 'Poppins', sans-serif;
        font-weight: 900;
        font-size: 70px;
        color: white;
        padding-top: 100px;
        padding-left: 20px;
    }
    .wapper-text p {
        font-family: 'Poppins', sans-serif;
        font-size: 22px;
        color: white;
        padding-left: 20px;
    }
    .wapper .btn {
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 1.6px;
        line-height: 45px;
        text-align: center;
        text-transform: capitalize;
        color: white;
        padding: 0px 30px;
        margin-left: 20px;
    }
    .about-area h1 {
        font-size: 41px;
        position: relative;
    }
    .about-area .abouthead::after {
        content: " ";
        width: 138px;
        height: 4px;
        position: absolute;
        background-color: #E0A800;
        top: 109%;
        left: 0%;
    }
    
    .about-area p {
        color: rgb(199, 197, 197);
        font-family: 'Poppins', sans-serif;
        padding: 17px;
        margin-top: -48px;
        font-size: 14px;
    }
    .about-area .btn {
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        font-weight: 700;
        letter-spacing: 1.6px;
        line-height: 45px;
        text-align: center;
        text-transform: capitalize;
        color: white;
        padding: 0px 22px;
        margin-left: 8px;
    }
    .about-area .btncv {
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        font-weight: 700;
        letter-spacing: 1.6px;
        line-height: 45px;
        text-align: center;
        text-transform: capitalize;
        color: white;
        padding: 0px 14px;
        margin-left: 8px;
    }
    .services-area h1 {
        color: rgb(199, 197, 197);
        font-size: 45px;
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
    }
    .services-area p {
        color: rgb(199, 197, 197);
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        padding: 3px;
    }
    
    .services-area .show_img1 {
        background-image: linear-gradient(to bottom, rgba(91, 114, 245, 0.52), rgba(209, 87, 178, 0.73)),url(/images/1.jpg);
        width: 99%;
        height: 295px;
        background-size: cover;
        color: white;
        padding: 34px;
        color: white;
        border-radius: 5px;
        margin-bottom: 25px;
    }
    .services-area .show_img2 {
        background-image: linear-gradient(to bottom, rgba(91, 114, 245, 0.52), rgba(209, 87, 178, 0.73)),url(/images/2.jpg);
        width: 99%;
        height: 295px;
        background-size: cover;
        color: white;
        padding: 34px;
        color: white;
        border-radius: 5px;
    }
    .work-area h1 {
        color: rgb(199, 197, 197);
        font-size: 41px;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
        margin-top: -53px;
    }
    .heading{
        text-align: center!important;
        font-size: 33px;
    }
    .workexp .btn {
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 1.6px;
        line-height: 52px;
        text-align: center;
        text-transform: capitalize;
        color: white;
        padding: 0px 38px;
    }
    .contact h1 {
        font-size: 42px;
        color: rgb(199, 197, 197);
        margin-top: -33px;
        margin-bottom: 33px;
    }
    .contact h5 {
        font-size: 25px;
        color: rgb(199, 197, 197);
        padding-left: 25px;
    }
    .form-group {
        margin-bottom: 0rem;
        margin-top: 17px;
        padding: 10px;
    }
    .contact .btn {
        font-family: 'Poppins', sans-serif;
        font-size: 17px;
        font-weight: 700;
        letter-spacing: 1.6px;
        line-height: 51px;
        text-align: center;
        text-transform: capitalize;
        color: white;
        padding: 0 20px;
        background:#E0A800;
        border: none !important;
    }
    .text-center {
        text-align: center!important;
        font-size: 14px;
    }
    .link{
        padding: 15px;
    }
    .sociallink{
        padding: 15px;
    }
    .heading {
        text-align: center!important;
        font-size: 25px;
    }
    .navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
        color: #fff;
        padding-left: 147px;
        margin-top: 10px;
    }
    .about-area .btncv a {
        text-decoration: none;
        color: white;
    }
    .services-area h1::after {
        content: " ";
        width: 138px;
        height: 5px;
        position: absolute;
        background-color: #E0A800;
        top: 96%;
        left: 25%;
    }
    .work-area h1::after {
        content: " ";
        width: 138px;
        height: 5px;
        position: absolute;
        background-color: #E0A800;
        top: 69%;
        left: 15%;
    }
    .contact h1::after {
        content: " ";
        width: 138px;
        height: 5px;
        position: absolute;
        background-color: #E0A800;
        top: 88%;
        left: 20%;
    }
    .navbar .navbar-brand {
        color:#E0A800;
        font-size: 50px;
        box-sizing: border-box;
        font-weight: bolder;
        padding-left: 13px;
    }
    .navbar {
        background: #2B2C2C !important;
    }
    .navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
        color: #fff;
        padding-left: 82px;
        margin-top: 10px;
    }
    .wapper-img {
        margin-top: -14px;
    }
    .wapper-text h1 {
        font-family: 'Poppins', sans-serif;
        font-weight: 900;
        font-size: 70px;
        color: white;
        padding-top: 155px;
        padding-left: 20px;
    }
    .services-area .show_img1 .head{
        font-size: 25px;
        margin-bottom: 0px;
    }
    .services-area h1 {
        color: rgb(199, 197, 197);
        font-size: 35px;
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
    }
    .services-area h1::after {
        content: " ";
        width: 138px;
        height: 5px;
        position: absolute;
        background-color: #E0A800;
        top: 109%;
        left: 8%;
    }
    .work-area h1::after {
        content: " ";
        width: 138px;
        height: 5px;
        position: absolute;
        background-color: #E0A800;
        top: 69%;
        left: 10%;
    }
    .contact h1::after {
        content: " ";
        width: 138px;
        height: 5px;
        position: absolute;
        background-color: #E0A800;
        top: 95%;
        left: 16%;
    }
    .contact span {
        font-family: 'Poppins', sans-serif;
        font-weight: 100;
        color: rgb(199, 197, 197);
        font-size: 13px;
    }
    .about-area .abouthead::before {
        content: " ";
        width: 200px;
        height: 200px;
        position: absolute;
        background-color: #888888;
        top: 30%;
        left: 23%;
        border-radius: 50%;
        opacity: 0.2;
        display: none;
    }
}